.nav-div{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding:10px;
}
.header{
    color: #3563E9;
    font-weight: bold;
    font-size: 32px;
}

.search{
    border: none;
    color:#596780
}
.search-bar{
border: 0.4px solid #C3D4E9;
border-radius: 20px;
width:320px;
display: flex;
align-items: center;
justify-content: space-evenly;
}

#setting{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}