.container{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    
}
.nav-list{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}
.nav-list a{
    text-decoration: none;
    list-style: none;
    font-style: oblique;
    font-size: 24px;
    color: black;
}
.nav-header{
    font-family: cursive;
    text-align: center;
}