.b-circle{
width:16px;
height: 16px;
border-radius: 100%;
background-color: #AEC8FC;

}
.s-circle{
width:8px;
height: 8px;
border-radius: 100%;
background-color: #3563E9;
text-align: center;
align-items: center;
}
.city{
    display: flex;
    flex-direction: row;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.roww{
    display: flex;
    flex-direction: row;
}
.body{
    background-color: #ffffff;
    padding:20px;
    border-radius: 10px;
    width: 552px;
}
.line{
    width: 1px;
    height: 60px;
    background-color: #bebebe;
    margin-left: 24px;
    margin-right: 24px;
    align-items: center;
    align-self: center;
    
}